Flask
gevent
gunicorn
requests
Pillow
#Theano
Werkzeug
Flask-APScheduler
#SQLAlchemy
#sqlalchemy-datatables
psycopg2

#mysql-connector-python
#beautifulsoup4

#flask-login
#Flask-SQLAlchemy
#flask-migrate
flask-bootstrap
#mysqlclient
#Flask-WTF
#wtforms_components


#mysql-connector
#deap
#numpy
#flask-debugtoolbar
#cloudinary
#sqlalchemy_mptt

duckling==1.8.0
numpy
pandas
scikit-learn
sklearn-crfsuite
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
scipy
tensorflow
